.variations_in_loop {
    position: absolute;
    bottom: 150px;
    top: 0;
    right: 0;
    width: 52px;
    overflow-y: scroll;
    /* background-color: rgba(240, 240, 240, .7); */
}

.variations_in_loop_thumbnail {
    width: 90%;
    margin: 0 2.5% -7px 5%;
    position: relative;
    right: 0px;
    cursor: pointer;
}

.variations_in_loop_thumbnail.active {
    border: 1px solid #1babe5!important;
}

/* width */
.variations_in_loop::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.variations_in_loop::-webkit-scrollbar-track {
background: none;
}

/* Handle */
.variations_in_loop::-webkit-scrollbar-thumb {
background: #888;
}