.variations_in_loop {
    position: absolute;
    bottom: 150px;
    top: 0;
    right: 0;
    width: 54px;
    padding: 6px 5px 0 14px;
    overflow-y: auto;
    background: linear-gradient(to left, rgba(247,245,240, 1) 20%, rgba(247,245,240, .8) 50%, rgba(247,245,240, 0));
    /* backdrop-filter: blur(1px); */
}

.variations_in_loop_thumbnail {
    width: 88%;
    margin: 0 0 -3px 7%;
    position: relative;
    right: 0px;
    cursor: pointer;
    box-shadow: -2px 1px 3px rgba(51, 51, 51, .4);
}

.variations_in_loop_thumbnail.active {
    border: 1px solid #1babe5!important;
    box-shadow: -2px 1px 1px rgba(51, 51, 51, .4);
    box-shadow: -2px 1px 3px rgba(17, 103, 138, 0.6);
}

/* width */
.variations_in_loop::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.variations_in_loop::-webkit-scrollbar-track {
background: none;
}

/* Handle */
.variations_in_loop::-webkit-scrollbar-thumb {
background: #888;
}

.variations_in_table {
    max-height: 60px;
    overflow-y: auto;
}

.variations_in_table_thumbnail {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.variations_in_table_thumbnail.active {
    border: 1px solid #1babe5!important;
}